body{
    background-color: lightslategray;
}
nav{
    position:fixed;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
}
h1{
    color: aliceblue;
    border-bottom: solid aliceblue 2px;
    width:max-content;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2, h3{ 
    text-align: center;
    color: rgb(24, 114, 66);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color:rgb(219, 217, 227);
    position: relative;
    top: 100px;
}
form{
    display: block;
    width: 20%;
    margin: auto;
    padding: 10px;
    background-color:rgb(219, 217, 227);
    position: relative;
    top: 100px;
}
.tagg{
    text-align: right;
}
.board a, li a{
    display: block;
    padding: 12px;
    text-decoration: none;
    background-color:darkslategrey;
    color: white;
}
li{
    margin-top: 2px;
}
main img{
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 50%;
}
.board a:hover,li a:hover {background-color: brown;}
.adds{
    position: sticky;
    top: 0;
    margin-top: 100px;
    float: right;
}
.palp img{
    width: 250px;
}
.palp input{
    position: absolute;
    right: 0;
}

